input, textarea, label {
    font-size:1rem;
    padding:.5rem;
    display:block;
    margin-bottom:1rem;
}

textarea {
    min-width: 60vw;
    min-height: 16rem;
}

.edit img {
    width:5rem;
 
}

.edit label {
    padding: 0;
}

.checks {
    display:grid;
    grid-template-columns: 1fr 4fr;
    margin: 1rem 0 1rem 0;
    padding: .6rem;
}