.header-container {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: #F2F2F2;
    display:grid;
    place-items: center;
    z-index: 3;
}

.burger{
    display: none;
    z-index: 4;
    position: absolute;
}

header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    background: #F2F2F2;
    display:grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap:1rem;
    z-index: 3;
}

header a {
    text-decoration: none;
    color: #8C8987;
    margin-left: 15px;
}

[aria-current='page'], .active {
    font-weight: bold;
}

header p{
    margin-left: 2rem;
    margin-right: 2rem;
    color: #8C8987;

}

@media (max-width: 1000px){
    header{
        width:50%;
        transform: translateY(-100%);
        grid-auto-flow: row;
        align-content: center;
        justify-content: center;
        min-height: 100vh;
        width: 100vw;
        background:#f2f2f2;
        /*transition: 1s ease;*/
    }
    .navn{
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
    }


    .header a {
        font-size: 2rem;
    }

    header.visible{
        transform:translateY(0);
    }

    .burger{
        display:block;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 10;
        margin-left: 20px;
    }

    main {
        padding: 20vh 5vh;
    }

}

