.projectsContainer {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:1rem;
    color: #f2f2f2;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
