main.project-details {
    position: relative;
    justify-content: center;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 30px;
    word-break: break-word;
}

.description p, .description a, .project-details .year{
    width: 35%;
    display:block;
    margin: auto;
    font-size: 18px;
    max-width: 360px;
} 


.project-details .description img{
    width:100%;
} 

.project-details h4{
    text-align: center;
} 

.project-details h6{
    width: 35%;
    display:block;
    margin: auto;
    max-width: 360px;
} 

.project-details .description a{
    padding-top: 3rem;
    width:10%;
} 

.pager {
    
    width:80vw;
    left:0;
    bottom: 5vh;
    height: 10vh;
    display:grid;
    grid-auto-flow: column;
    gap:4rem;
    align-items: center;
    justify-content: space-between;
    z-index: 1;



}
