.project {
    min-height: 150px;
    width: 450px;
    padding:2rem;
    position:relative;
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}


.project h1 {
    font-size: 1.2rem;
    color: #D9D9D9;
}

.admin-icons{
    position:absolute;
    bottom:1rem;
    right:1rem;
    color: #8C8987;
}

.project img {
    width: 100%;
}

.project.active{
    position: absolute;
    animation:slideIn 1s ease;
    top:0;
    left:0;
    z-index:2;
    min-width:100vw;
    min-height:100vh;
}

.project-details img {
    width: 100%;
    justify-content: center;
}

main.project-details {
    justify-content: center;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 30px;
}

main.project-details h4{
    text-align: center;

}

@keyframes zoomIn{
    from{
        transform: scale(0,0);
    }
    to{
        transform:scale(100vw,100vh);
    }
}